@model List<Blog_Dries.Interfaces.CreatePostInterface>
@{
    ViewData["Title"] = "Searched Posts";
}

<style>
    small:hover {
        background-color: yellow;
        cursor: pointer;
        transition: background-color 1s ease !important;
    }

    img:hover {
    }
</style>

<h1>Searched Posts</h1>

@if (Model.Count == 0)
{
    <p class="text-danger">No Posts Found with this Title!</p>
}

<div class="row">
    @foreach (var item in Model.Select((value, i) => new { i, value }))
    {
        <div class="card" style="width: 20rem;margin-left:7px;margin-top:7px;">
            <img src="@item.value.PostImage" style="width:100%;height:180px" class="card-img-top" alt="Image">
            <div class="card-body">
                <h5 class="card-title">@item.value.Title</h5>
                <p class="card-text">
                    @if (item.value.Descritption.Length > 75)
                    {
                        <span>
                            @item.value.Descritption.Substring(0, 75).ToString()
                            <a href="/BlogPosts/Details/@item.value.Id">See more...</a>
                        </span>
                    }
                    else
                    {
                        <span>@item.value.Descritption</span>
                    }
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        Last Updated @item.value.Datetime
                    </small><br />
                    <small class="text-muted">
                        • By <b>@item.value.Username</b>
                    </small>
                </p>
            </div>
        </div>
    }
</div>